header{
  background-color:#89CFF0;
	border-style: solid;
	border-color:#89CFF0;
	height: 100px;
	width: 100%;
	color: white;
	text-align: left;
	top: 0;
	margin: 0 auto;
	position: fixed;
}

header h3{
  vertical-align: bottom;
  padding-left: 10px;
}

.signup_bar{
  vertical-align: bottom;
}
.signup_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	position: fixed;
    width: 100%;

}
.signup_bar li{
	 float: right;
}
.signup_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.signup_bar li a:hover {
    background-color: #1eabed;

}
body{

	font-family: 'Arial', Sans-Serif;
	margin: 0;
  background-color: #edf4f7;
  padding-bottom: 50px;

}
.toolbar{
  padding-top: 105px;
}
.toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF9966;
	  position: fixed;
    top: 1;
    width: 100%;

}
.toolbar li{
	 float: left;
}
.toolbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.toolbar li a:hover {
    background-color: #FE5A1D;
}
footer{
  text-align: right;
  font-size: small;
  background-color:#89CFF0;
	border-style: solid;
	border-color:#89CFF0;
	height: 50px;
	width: 100%;
	color: white;
	margin: 0 auto;
  clear: both;
  bottom: 0;
}
