{% extends "layout.html" %}
{% block pagestyle %}
		<link href="{{url_for('static', filename='CSS/DS_Available_Resources.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}

	<div class="wrap">
		<div class="search">
			<input type="text" class="searchTerm" placeholder="Search">
			<button type="submit" class="searchButton">
			<i class="fa fa-search"></i>
				<img src="http://www.pvhc.net/img147/knesrozwwcmfiqsgizyl.png" width="28" height="28">
			</button>
		</div>
	</div>
	<div class='resources'>
		{% if resources %}
    		<div>
				<script>
					var resource = "{{request.script_root | tojson | safe }}"
					alert(resource)

				</script>
				<h3>{{ resources.rname }}</h3>
				<label>Quantity:</label><p>{{ resources.rquantity }}</p>
				<label>Price:</label><p>{{ resources.rprice }}</p>
				<label>Owner:</label><p>{{ resources.rquantity }}</p>

			</div>
		{% else %}
		<h1>No resources yet...</h1>
		{% endif %}
	</div>
{% endblock %}
