{% extends "layout.html" %}
{% block pagestyle %}
		<link href="{{url_for('static', filename='CSS/DS_Purchase.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='Javascript/purchase.js')}}"></script>
{% endblock %}
{% block content %}
  {% if error %}
  <script>
    alert("Error: {{error}}");
  </script>
  {% endif %}
  {% if complete == "pending" %}
  <div class="make_purchase">
    <form name= "purchase_form"  method="put">
      <h1 id="rname"></h1>
      <p id="sprice"><b>Price:</b> </p>
      <p id="ravailable"><b>Available amount:</b> </p>
      <p id="ramount">Amount to buy: </p>
      <input type="number" name="rid" class="hidden" value="{{request.form.rid}}">
      <input type="number" name="amount" class="amount" placeholder="0" min="0" value="{{request.form.amount}}" required>
      <br>
      <input type="submit" class="bttn" value="Buy">
  </form>
  </div>
  {% else %}
    <div class="receipt">
      <h1>Purchase complete!</h1>
      <p id="rname"><b>Item purchased:</b> </p>
      <p id="sprice"><b>Price:</b> </p>
      <p id="ramount"><b>Amount bought: {{amount}}</b> </p>
    </div>
  {% endif %}
{% endblock %}
