{% extends "layout.html" %}
{% block pagestyle %}
	<link href="{{url_for('static', filename='CSS/DS_Requested_Resources.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Search">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                    <img src="http://www.pvhc.net/img147/knesrozwwcmfiqsgizyl.png" width="28" height="28">
                </button>
        </div>
    </div>
    <div class='resources'>
		<h1>Yay nobody needs resources</h1>
	</div>

{% endblock %}
