{% extends "layout.html" %}
{% block pagestyle %}
		<link href="{{url_for('static', filename='CSS/DS_Resource_Profile.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
	<div class='profile'>
      <h1 id="prof_name"></h1>
      <p id="prof_id"><b>ID: </b></p>
      <p id="prof_quantity"><b>In stock: </b></p>
			<p id="prof_date"><b>Date Added: </b></p>
      <p id="prof_price"></p>

	</div>
	<script src="{{url_for('static', filename='Javascript/resource_profile_setter.js')}}"></script>
{% endblock %}
