{% extends "layout.html" %}
{% block pagestyle %}
	<link href="{{url_for('static', filename='CSS/DS_Resources_List.css')}}" rel="stylesheet">
  <script src="{{url_for('static', filename='Javascript/json_extractor.js')}}"></script>
	<script src="{{url_for('static', filename='Javascript/resource_setter.js')}}"></script>
	<script src="{{url_for('static', filename='Javascript/search_resource.js')}}"></script>

{% endblock %}
{% block content %}

    <div class="search">
				<div id="r_name">
        	<input type="text" class="searchTerm1" placeholder="Search Product">
				</div>
				{% if resource_type == "available" %}
					<div id="r_price">
						<label><b>,</b></label>
	        	<input type="text" class="searchTerm2" placeholder="Max price">
					</div>
				{% endif %}
				<div id="r_quantity">
					<label><b>,</b></label>
        	<input type="text" class="searchTerm3" placeholder="Min quantity">
				</div>
				<div id="r_location">
					<label><b>,</b></label>
        	<input type="text" class="searchTerm4" placeholder="City">
				</div>
        <button type="submit" class="searchButton" onclick="search('{{resource_type}}')">
						<!--URL of the image http://www.pvhc.net/img147/knesrozwwcmfiqsgizyl.png-->
            <img src="{{url_for('static', filename='Images/search_glass.png')}}" width="28" height="28">
        </button>
    </div>
		<div class="sidebar">
			<a onclick="getCategory('{{resource_type}}', 'all')">All</a>
			<a onclick="getCategory('{{resource_type}}', 'batteries')">Batteries</a>
			<a onclick="getCategory('{{resource_type}}', 'clothes')">Clothes</a>
			<a onclick="getCategory('{{resource_type}}', 'food')">Food</a>
			<a onclick="getCategory('{{resource_type}}', 'fuel')">Fuel</a>
			<a onclick="getCategory('{{resource_type}}', 'heavy_equipment')">Heavy Equipment</a>
			<a onclick="getCategory('{{resource_type}}', 'ice')">Ice</a>
			<a onclick="getCategory('{{resource_type}}', 'medical_devices')">Medical Devices</a>
			<a onclick="getCategory('{{resource_type}}', 'medication')">Medication</a>
			<a onclick="getCategory('{{resource_type}}', 'power_generators')">Power Generators</a>
			<a onclick="getCategory('{{resource_type}}', 'tools')">Tools</a>
			<a onclick="getCategory('{{resource_type}}', 'water')">Water</a>
		</div>
    <div class='resources' id="{{resource_type}}"></div>
<script src="{{url_for('static', filename='Javascript/sidebar.js')}}"></script>
{% endblock %}
